**/.git
**/.env
**/node_modules
**/.angular
**/.vscode
**/.editorconfig
**/.venv
quantum-mixer-frontend/dist
quantum-mixer-backend/public
quantum-mixer-backend/tests
*.egg-info
*.egg/
*.pyc
*.swp
**/__pycache__
