**/.env
**/.git/
# Node
**/node_modules/
**/.angular/
# VSC
**/.vscode/
**/.editorconfig
# Python
**/.venv/
**/__pycache__/
*.pyc
*.swp

# We will build frontend inside container
quantum-mixer-frontend/dist/
# We will copy the built frontend inside container
quantum-mixer-backend/public
# We do not test
quantum-mixer-backend/tests

