<p *ngIf="status == 'ready'">
  Do a measurement of the circuit to retrieve a classic value.
</p>

<button *ngIf="status == 'ready' || status == 'measured' || status == 'loading'" [ibmButton]="status == 'ready' ? 'primary' : 'secondary'" [disabled]="status == 'loading'" (click)="measure()" [isExpressive]="true">Measure</button>

<p *ngIf="status == 'measured'">
  The measurement yielded:
</p>

<ul *ngIf="status == 'measured'" class="result-list">
  <li *ngFor="let res of data" class="result">
    <img *ngIf="res.icon" [src]="res.icon">
    {{res.display}}
  </li>
</ul>

<button *ngIf="status == 'measured'" ibmButton="primary" (click)="order()" [isExpressive]="true">Order</button>

<p *ngIf="status == 'ordered'" class="with-img">
  <img src="/assets/thumbs-up-line-icon.png"/>
  The order has been placed. Thank you very much for taking time.
</p>

<p *ngIf="status == 'error'" class="with-img">
  <img src="/assets/close-round-line-icon.png"/>
  The order has not been placed.<br/>
  Error: {{ error }}
</p>
