<div *ngIf="usecaseService.usecase | async; let usecase">

  <fieldset class="bx--fieldset">
    <legend class="bx--label">Executing device</legend>
    <ibm-radio-group
      aria-label="radiogroup"
      (change)="setDevice($event.value)"
      >
      <ibm-radio
        [value]="DeviceType.QASM"
        [checked]="device == DeviceType.QASM"
        >
        Simulator
      </ibm-radio>
      <ibm-radio
        [value]="DeviceType.MOCK"
        [checked]="device == DeviceType.MOCK"
        >
        Real Device
      </ibm-radio>
    </ibm-radio-group>
  </fieldset>

  <fieldset *ngIf="numMeasurementsMin < numMeasurementsMax" class="bx--fieldset">
    <legend class="bx--label">Number of shots</legend>
    <ibm-radio-group
      aria-label="radiogroup"
      (change)="numMeasurements = +($event.value)"
      >
      <ibm-radio *ngFor="let radio of [numMeasurementsMin, numMeasurementsMax] | asRange"
        [value]="''+radio"
        [checked]="radio == numMeasurements"
        >
        {{radio}}
      </ibm-radio>
    </ibm-radio-group>
  </fieldset>

  <button *ngIf="status == 'ready' || status == 'measured' || status == 'loading'" [ibmButton]="status == 'ready' ? 'primary' : 'secondary'" [disabled]="status == 'loading'" (click)="measure()" [isExpressive]="true">Execute circuit</button>

  <ul *ngIf="status == 'measured'" [ngClass]="{'single-result': data.length == 1}" class="result-list">
    <li *ngFor="let res of data" class="result">
      <img *ngIf="res.icon" [src]="res.icon">
      {{res.display}}
    </li>
  </ul>

  <button *ngIf="usecase.hasOrder && status == 'measured'" ibmButton="primary" (click)="order()" [isExpressive]="true">Accept</button>

  <p *ngIf="status == 'ordered'" class="with-img">
    <img src="/assets/thumbs-up-line-icon.png"/>
    Thank you for creating this quantum circuit. The beverage has been ordered.
  </p>

  <p *ngIf="status == 'error'" class="with-img">
    <img src="/assets/close-round-line-icon.png"/>
    The order has not been placed.<br/>
    Error: {{ error }}
  </p>

  <button *ngIf="status == 'ordered' || status == 'error'" ibmButton="primary" (click)="reset()" [isExpressive]="true">Reset</button>

</div>


