// button {
//   width: 50% !important;
// }

p, button, ul {
  margin-bottom: 30px;
}

.result-list {
  list-style-type: none;

  li {
    padding: 0.5em 0 0.5em 0;
    font-size: 3em;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    gap: .5em;
  }

  img {
    width: auto;
    height: 2em;
    display: block;
  }

  li:last-of-type {
    border-bottom-style: none;
  }
}

.with-img {
  img {
    width: 5em;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  text-align: center;
}
