<div style="width: 100vw; height: 60vh; background-color: black; background-image: url(/assets/osprey.png); margin-left: -50px; margin-top: -50px; background-size: contain; background-position: 50%; background-repeat: no-repeat;">
</div>
<div ibmRow style="margin-top: 50px">
  <div *ngFor="let usecase of usecaseService.usecases" ibmCol [columnNumbers]="{'lg': 4, 'md': 6}">
    <a routerLink="/{{usecase.id}}">
      <h2>{{usecase.name}}</h2>
    </a>
    <a style="margin-top: 30px; display: block" routerLink="/{{usecase.id}}/preferences">Preferences</a>
  </div>
</div>
