<div id="operation-info-container">
  <div class="qubit-selection">
    <div class="qubit-selection-description">
      Target Qubits
    </div>
    <div *ngFor="let qubitIdx of numQubits | asRange" class="qubit-control">
      <input
        #input
        class="input-target-qubit"
        type="checkbox"
        [checked]="operation && operation.targetQubits.indexOf(qubitIdx) > -1"
        [value]="qubitIdx"
        (change)="handleTargetQubitChange(input, qubitIdx)"
        >
    </div>
  </div>
  <div class="qubit-selection" *ngIf="maxNumControlQubits > 0">
    <div class="qubit-selection-description">
      Control Qubits
    </div>
    <div *ngFor="let qubitIdx of numQubits | asRange" class="qubit-control">
      <input
        #input
        class="input-control-qubit"
        type="checkbox"
        [checked]="operation && operation.controlQubits.indexOf(qubitIdx) > -1"
        [disabled]="
          operation &&
          (
            (operation.targetQubits.indexOf(qubitIdx) > -1) ||
            (operation.controlQubits.indexOf(qubitIdx) == -1 && operation.controlQubits.length == maxNumControlQubits)
          )"
          [value]="qubitIdx" (change)="handleControlQubitChange(input, qubitIdx)">
    </div>
  </div>
  <div id="operation-info-info">
    <p>
      <b>{{operation?.properties?.title}}</b><br/>
      {{operation?.properties?.description}}
    </p>

    <div *ngFor="let parameter of operation?.properties?.parameters; let i = index" class="input-group mb-3">
      <span class="input-group-text" id="'inp-p-'+i">{{parameter.name}}</span>
      <input #input type="text" class="form-control" [placeholder]="parameter.default" [value]="operation!.parameterValues[i]" (change)="operation?.setParameter(parameter.name, input.value)">
    </div>

  </div>
</div>
