/* You can add global styles to this file, and also import other style files */

// @import 'bootstrap/scss/bootstrap';
@import "carbon-components/scss/globals/scss/styles";

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

:root {
  --qo-qubit-height: 50px;
}

