<div id="composer-newoperations-container">
  <div class="composer-newoperation" draggable="true" (dragstart)="handleNewOperationDragStart($event, ComposerCatalogueType.HADAMARD)" (dragend)="handleDragEnd()">H</div>
  <div class="composer-newoperation" draggable="true" (dragstart)="handleNewOperationDragStart($event, ComposerCatalogueType.NOT)" (dragend)="handleDragEnd()">NOT</div>
  <div class="composer-newoperation" draggable="true" (dragstart)="handleNewOperationDragStart($event, ComposerCatalogueType.CNOT)" (dragend)="handleDragEnd()">CNOT</div>
  <div class="composer-newoperation" draggable="true" (dragstart)="handleNewOperationDragStart($event, ComposerCatalogueType.CCNOT)" (dragend)="handleDragEnd()">CCNOT</div>
  <div class="composer-newoperation" draggable="true" (dragstart)="handleNewOperationDragStart($event, ComposerCatalogueType.IDENTITY)" (dragend)="handleDragEnd()">I</div>
  <div class="composer-newoperation" draggable="true" (dragstart)="handleNewOperationDragStart($event, ComposerCatalogueType.Z)" (dragend)="handleDragEnd()">Z</div>
  <div class="composer-newoperation" draggable="true" (dragstart)="handleNewOperationDragStart($event, ComposerCatalogueType.RY)" (dragend)="handleDragEnd()">RY</div>
  <div class="composer-newoperation" draggable="true" (dragstart)="handleNewOperationDragStart($event, ComposerCatalogueType.SWAP)" (dragend)="handleDragEnd()">SWAP</div>
</div>
