<div class="circuit-composer-catalogue">
  <div class="circuit-composer-catalogue-items">
    <div
      *ngFor="let item of catalogue"
      class="catalogue-item"
      appDraggable
      [dragImage]="item.operation.png"
      [dragImageSize]="{'width': 70}"
      [dragElementOffset]="{'x': '-50%', 'y': -35}"
      (dragstart)="handleNewOperationDragStart($event, item.type)"
      (click)="active = item">
      <img [src]="item.operation.png">
    </div>
    <div *ngIf="active" class="circuit-composer-catalogue-description">
      <p>{{ active.description }}</p>
    </div>
  </div>
</div>

